<header>
  <ul id="dropdown1" class="dropdown-content">
    <li><%= session_link %></li>
    <% if logged_in? %>
      <li><%= link_to "View your account", student_path(current_user) %></li>
    <% end %>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <ul id="dropdown2" class="dropdown-content">
    <li><%= session_link %></li>
    <% if logged_in? %>
      <li><%= link_to "View your account", student_path(current_user) %></li>
    <% end %>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <ul id="dropdown3" class="dropdown-content">
    <% if logged_in? %>
      <li><%= link_to 'View students', students_path %></li>
    <% end %>
    <li><%= link_to 'Add student', new_student_path %></li>
    <!-- <li class="divider"></li>
    <li><a href="#!">three</a></li> -->
  </ul>
  <ul id="dropdown4" class="dropdown-content">
    <% if logged_in? %>
      <li><%= link_to 'View students', students_path %></li>
    <% end %>
    <li><%= link_to 'Add student', new_student_path %></li>
    <!-- <li class="divider"></li>
    <li><a href="#!">three</a></li> -->
  </ul>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <!-- <a href="#" class="brand-logo right">Tech University</a> -->
        <%= link_to 'Tech University', root_path, class: "brand-logo right" %>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><%= link_to 'Courses', root_path %></li>
          <% if logged_in? %>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown4">Students<i class="material-icons right">arrow_drop_down</i></a></li>
          <% end %>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <ul class="sidenav" id="mobile-demo">
          <li><%= link_to 'Courses', root_path %></li>
          <% if logged_in? %>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown3">Students<i class="material-icons right">arrow_drop_down</i></a></li>
          <% end %>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Account<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <% flash.each do |key, message|%>
    <div class="container">
      <div class="row sign-up-form">
        <div class="col s12 m12 l12">
          <div class="card-panel red lighten-2" id="fade-out-target">
            <span class="white-text">
              <%= message %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</header>
